# Coding exercises
Exercises 1-3 are thought exercises that don't require coding. 

## Exercise 4: Generate the data by running this cell
This will give you a list of numbers to work with in the remaining exercises.

In [1]:
import random 
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

In [2]:
from random import seed, random
seed(0)
salaries = [round(random()*1000000, -3) for _ in range(100)]

## Exercise 5: Calculating statistics and verifying
### mean

In [3]:
len(salaries)

100

In [4]:
sum(salaries) / len(salaries)

585690.0

In [5]:
from statistics import mean
mean(salaries)

585690.0

### median

In [6]:
sorted(salaries)

[1000.0,
 14000.0,
 80000.0,
 82000.0,
 90000.0,
 101000.0,
 109000.0,
 187000.0,
 189000.0,
 191000.0,
 239000.0,
 244000.0,
 251000.0,
 259000.0,
 260000.0,
 276000.0,
 282000.0,
 290000.0,
 303000.0,
 310000.0,
 320000.0,
 325000.0,
 385000.0,
 391000.0,
 399000.0,
 405000.0,
 421000.0,
 434000.0,
 445000.0,
 448000.0,
 451000.0,
 472000.0,
 477000.0,
 477000.0,
 477000.0,
 486000.0,
 494000.0,
 505000.0,
 508000.0,
 511000.0,
 540000.0,
 541000.0,
 547000.0,
 549000.0,
 551000.0,
 568000.0,
 576000.0,
 580000.0,
 583000.0,
 588000.0,
 590000.0,
 596000.0,
 603000.0,
 611000.0,
 613000.0,
 613000.0,
 618000.0,
 657000.0,
 660000.0,
 668000.0,
 684000.0,
 705000.0,
 707000.0,
 720000.0,
 730000.0,
 756000.0,
 758000.0,
 758000.0,
 784000.0,
 793000.0,
 803000.0,
 805000.0,
 810000.0,
 812000.0,
 814000.0,
 825000.0,
 842000.0,
 844000.0,
 849000.0,
 865000.0,
 868000.0,
 870000.0,
 877000.0,
 895000.0,
 898000.0,
 899000.0,
 902000.0,
 908000.0,
 910000.0,
 913000.0,
 917000.0,
 923000.0,
 923000.0,
 933000.0,
 950000.0,
 964000.0,
 967000.0,
 968000.0,
 983000.0,
 996000.0]

In [7]:
sorted(salaries)[0]

1000.0

In [8]:
sorted(salaries)[99]

996000.0

In [9]:
sorted(salaries)[49]

588000.0

In [10]:
sorted(salaries)[50]

590000.0

In [11]:
(sorted(salaries)[49] + sorted(salaries)[50])/2

589000.0

In [12]:
from statistics import median
median(salaries)

589000.0

### mode

In [13]:
from collections import Counter
Counter(sorted(salaries))

Counter({1000.0: 1,
         14000.0: 1,
         80000.0: 1,
         82000.0: 1,
         90000.0: 1,
         101000.0: 1,
         109000.0: 1,
         187000.0: 1,
         189000.0: 1,
         191000.0: 1,
         239000.0: 1,
         244000.0: 1,
         251000.0: 1,
         259000.0: 1,
         260000.0: 1,
         276000.0: 1,
         282000.0: 1,
         290000.0: 1,
         303000.0: 1,
         310000.0: 1,
         320000.0: 1,
         325000.0: 1,
         385000.0: 1,
         391000.0: 1,
         399000.0: 1,
         405000.0: 1,
         421000.0: 1,
         434000.0: 1,
         445000.0: 1,
         448000.0: 1,
         451000.0: 1,
         472000.0: 1,
         477000.0: 3,
         486000.0: 1,
         494000.0: 1,
         505000.0: 1,
         508000.0: 1,
         511000.0: 1,
         540000.0: 1,
         541000.0: 1,
         547000.0: 1,
         549000.0: 1,
         551000.0: 1,
         568000.0: 1,
         576000.0: 1,
         580000.0: 1,
         583000.0: 1,
         588000.0: 1,
         590000.0: 1,
         596000.0: 1,
         603000.0: 1,
         611000.0: 1,
         613000.0: 2,
         618000.0: 1,
         657000.0: 1,
         660000.0: 1,
         668000.0: 1,
         684000.0: 1,
         705000.0: 1,
         707000.0: 1,
         720000.0: 1,
         730000.0: 1,
         756000.0: 1,
         758000.0: 2,
         784000.0: 1,
         793000.0: 1,
         803000.0: 1,
         805000.0: 1,
         810000.0: 1,
         812000.0: 1,
         814000.0: 1,
         825000.0: 1,
         842000.0: 1,
         844000.0: 1,
         849000.0: 1,
         865000.0: 1,
         868000.0: 1,
         870000.0: 1,
         877000.0: 1,
         895000.0: 1,
         898000.0: 1,
         899000.0: 1,
         902000.0: 1,
         908000.0: 1,
         910000.0: 1,
         913000.0: 1,
         917000.0: 1,
         923000.0: 2,
         933000.0: 1,
         950000.0: 1,
         964000.0: 1,
         967000.0: 1,
         968000.0: 1,
         983000.0: 1,
         996000.0: 1})

In [14]:
Counter(salaries).most_common(1)[0][0]

477000.0

In [15]:
from statistics import mode
mode(salaries)

477000.0

### sample variance
Remember to use Bessel's correction.

In [16]:
#my pseudo code
#sum((salaries - mean(salaries))^2) / (len(salaries) - 1)

In [17]:
sum([(x - sum(salaries)/len(salaries))**2 for x in salaries]) / (len(salaries) - 1)

70664054444.44444

In [18]:
from statistics import variance
var1 = variance(salaries)
var1

70664054444.44444

### sample standard deviation
Remember to use Bessel's correction.

In [19]:
#sqrt(var1)

In [20]:
from math import sqrt
sqrt(var1)

265827.11382484

In [25]:
sqrt(sum([(x - sum(salaries)/len(salaries))**2 for x in salaries]) / (len(salaries) - 1))

265827.11382484

In [26]:
from statistics import stdev
stdev(salaries)

265827.11382484

## Exercise 6: Calculating more statistics
### range

In [27]:
max(salaries) - min(salaries)

995000.0

### coefficient of variation

In [28]:
stdev(salaries) / mean(salaries)

0.45386998894439035

### interquartile range

In [29]:
#IQR = Q3 - Q1

In [30]:
from numpy import percentile
quartiles = percentile(salaries, [25, 50, 75])
quartiles

array([403500., 589000., 816750.])

In [31]:
quartiles[0]

403500.0

In [32]:
quartiles[2]

816750.0

In [33]:
quartiles[2] - quartiles[0]

413250.0

### quartile coefficent of dispersion

In [34]:
#QCD = (Q3 - Q1) / (Q3 + Q1)

In [35]:
quartiles[2] + quartiles[0]

1220250.0

In [36]:
(quartiles[2] - quartiles[0]) / (quartiles[2] + quartiles[0])

0.338660110633067

## Exercise 7: Scaling data
### min-max scaling

In [38]:
#x = (x - min) / (max - min)

In [42]:
#my solution:
scaled1 = [(x - min(salaries))/(max(salaries) - min(salaries)) for x in salaries]
scaled1[:5]

[0.8472361809045226,
 0.7608040201005025,
 0.4221105527638191,
 0.2592964824120603,
 0.5125628140703518]

In [44]:
#from solution:
min_salary, max_salary = min(salaries), max(salaries) #interesting to line 2 up like this
salary_range = max_salary - min_salary
min_max_scaled = [(x - min_salary) / salary_range for x in salaries]
min_max_scaled[:5]

[0.8472361809045226,
 0.7608040201005025,
 0.4221105527638191,
 0.2592964824120603,
 0.5125628140703518]

### standardizing

In [ ]:
#x = (x - mean) / stdev #zscore

In [50]:
#my solution:
scaled2 = [(x - mean(salaries)) / stdev(salaries) for x in salaries]
scaled2[:5]

[0.9717217942267801,
 0.6482032533127501,
 -0.6195380058503674,
 -1.228956652688424,
 -0.28097209094033604]

In [49]:
#from solution:
from statistics import mean, stdev
mean_salary, std_salary = mean(salaries), stdev(salaries)
standardized = [(x - mean_salary) / std_salary for x in salaries]
standardized[:5]

[0.9717217942267801,
 0.6482032533127501,
 -0.6195380058503674,
 -1.228956652688424,
 -0.28097209094033604]

## Exercise 8: Calculating covariance and correlation
### covariance

In [57]:
import numpy as np
cov1 = np.cov(scaled1, scaled2)
cov1

array([[0.07137603, 0.26716293],
       [0.26716293, 1.        ]])

In [64]:
#covariance is the 2nd or 3rd element
cov1[0,1] #grabs 1st row, 2nd column

0.267162928467176

### Pearson correlation coefficient ($\rho$)

In [ ]:
#rho = cov(x,y) / stdev(x) * stdev(y)

In [66]:
cov1[0,1] / (stdev(scaled1) * stdev(scaled2))

1.0000000000000004