In [1]:
import datetime
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
item = pd.read_csv('data/item_to_id.csv')
purchase = pd.read_csv('data/purchase_history.csv')
print(f'original dataframe: {purchase.head()}')
purchase = purchase.assign(Item_id = purchase['id'].str.split(',')).explode('Item_id').drop(columns = 'id')
purchase['Item_id'] = pd.to_numeric(purchase['Item_id'])
# # join the two tables together
df = pd.merge(left = purchase, right = item, left_on = 'Item_id', right_on = 'Item_id', how = 'left')
print(df.head())

original dataframe:    user_id                                                 id
0   222087                                              27,26
1  1343649                                            6,47,17
2   404134                       18,12,23,22,27,43,38,20,35,1
3  1110200                                 9,23,2,20,26,47,37
4   224107  31,18,5,13,1,21,48,16,26,2,44,32,20,37,42,35,4...
   user_id  Item_id        Item_name
0   222087       27     dishwashingÂ
1   222087       26  spaghetti sauce
2  1343649        6          poultry
3  1343649       47             pork
4  1343649       17             beef

## the customer who bought the most items overall in her lifetime

In [2]:
result = df.groupby('user_id')['Item_id'].agg(['sum','count']).\
            drop(columns = 'sum').sort_values('count', ascending = False).\
                reset_index()

result.loc[
    result['count'].idxmax(),
    'user_id'
]

269335

## for each item, the customer who bought that product the most

In [3]:
df.loc[
        (df.user_id == 31625) & (df.Item_name == 'sugar'),
]
df.loc[
        (df.user_id == 917199) & (df.Item_name == 'laundry detergent'),
]
purchase.loc[
        (purchase.user_id == 917199) & (purchase.Item_id == 18),
]

       user_id  Item_id
2215    917199       18
30149   917199       18
31378   917199       18
37793   917199       18
38706   917199       18

In [4]:
result = df.groupby(['user_id','Item_name'])['Item_id'].agg(['sum', 'count']).\
            drop(columns = 'sum').reset_index().\
                sort_values('count', ascending = False) 
print(result.head(20))
result.loc[
    result['count'].idxmax(),
    ['Item_name', 'user_id']
]

        user_id          Item_name  count
177237   917199  laundry detergent      5
231489  1198106        cauliflower      5
51398    269335            lettuce      5
5864      31625            lettuce      5
116091   599172    sandwich loaves      5
177978   920002                tea      5
265420  1374100               pork      4
248280  1286028           broccoli      4
244305  1264573  laundry detergent      4
8542      46757       dinner rolls      4
3766      19126            lettuce      4
158728   820788             bagels      4
150170   776603          cucumbers      4
119673   618914            carrots      4
224932  1158937          tortillas      4
245547  1271258               soda      4
158744   820788            lettuce      4
47848    250777           broccoli      4
64644    334664            poultry      4
122657   635240          cucumbers      4

Item_name    laundry detergent
user_id                 917199
Name: 177237, dtype: object